<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletDatos</servlet-name>
        <servlet-class>pqServlets.ServletDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNombre</servlet-name>
        <servlet-class>pqServlets.ServletNombre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCabecera</servlet-name>
        <servlet-class>pqServlets.ServletCabecera</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDatos</servlet-name>
        <url-pattern>/ServletDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNombre</servlet-name>
        <url-pattern>/ServletNombre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCabecera</servlet-name>
        <url-pattern>/ServletCabecera</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
